<p>main works!</p>

<input type="text" placeholder="search box">

<button>search</button>

<div>best</div>
<app-test-item (click)="onClickTestItem(1)"></app-test-item>
<app-test-item (click)="onClickTestItem(1)"></app-test-item>
<app-test-item (click)="onClickTestItem(1)"></app-test-item>
<app-test-item (click)="onClickTestItem(1)"></app-test-item>

<p>if search bar click</p>

<p>title</p>
<app-test-item></app-test-item>
<app-test-item></app-test-item>
<app-test-item></app-test-item>
<app-test-item></app-test-item>

<p>test case</p>
<app-test-item></app-test-item>
<app-test-item></app-test-item>
<app-test-item></app-test-item>
<app-test-item></app-test-item>
<!--복사 많이한 케이스 (session storage 당 1번) <br/>-->

<!--사람들이 검색을 제목으로하거나 정규식으로 하거나...? 테스트 케이스로 하거나... <br/>-->

<!--정규식으로 검색하면 - 정규식이 포함된 제목들이 나온다...? 정규식으로 검색할 일이 있나? 없을듯. 기능 X <br/>-->
<!--테스트 케이스로 검색하면 - 테스트 케이스가 포함된 제목들이 나온다. <br/>-->

<!--제목 유일, 정규식 유일, 테스트 케이스 유일<br/>-->

<!--제목으로 검색하기, 테스트 케이스로 검색하기 ? or 구분없이 동시에 검색하기<br/>-->


<ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.name}}
    </li>
</ul>
